BasedOnStyle: WebKit
IndentWidth: 2
UseTab: Never
TabWidth: 2
BreakBeforeBraces: Allman
AccessModifierOffset: -2
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
SortIncludes: true
IncludeBlocks: Regroup
PointerAlignment: Left