/build/
/Build/
/out/
/bin/

# Cache directories
.cache/
.cache/**
**/.cache/
**/.cache/**
# Clangd cache files
.cache/clangd/
.cache/clangd/**

CMmakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestFile.cmake
.cmake/

.clang-foramt

*.exe
*.o
*.obj
*.so
*.a
*.lib

*.dSYM/
*.pdb
core

.vscode/

settings.ini
config_local.h

*.log
