/build/
/Build/
/out/
/bin/

CMmakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestFile.cmake
.cmake/

*.exe
*.o
*.obj
*.so
*.a
*.lib

*.dSYM/
*.pdb
core

.vscode/

settings.ini
config_local.h

*.log
